.appSection{
  display: flex;
  flex-direction: column-reverse;
  gap: 2em;
}

.table{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: var(--Light_Gray);
}

.table td, th{
  border: 1px solid #CBD5E0;
  text-align: center;
  padding: 8px;
  cursor: default;
}

.table tr:nth-child(1){
  background-color: var(--Slate_Gray) !important;
  color: var(--White);
}

.table tr:nth-child(odd){
  background-color: var(--Pale_Mint_Green);
}

.table tr:nth-child(even){
  background-color: var(--Soft_Light_Blue);
}

.table tr:hover:not(:nth-child(1)){
  background-color: var(--Cool_Gray);
  transition: all 200ms ease;
}