.table{
  font-family: arial, sans-serif;
  font-size: .8em;
  background-color: var(--Light_Gray);
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 0 auto;
  overflow-x: auto;
  border-spacing: 0;
}

.table td, th{
  border: 1px solid #CBD5E0;
  text-align: center;
  padding: 8px;
  cursor: default;
}

.table thead tr{
  background-color: var(--Slate_Gray) !important;
  color: var(--White);
}

.table tbody {
  white-space: nowrap;
}

.table tr:nth-child(odd){
  background-color: var(--Pale_Mint_Green);
}

.table tr:nth-child(even){
  background-color: var(--Soft_Light_Blue);
}

.table tr:hover:not(:nth-child(1)){
  background-color: var(--Cool_Gray);
  transition: all 200ms ease;
}

.table th:last-child, td:last-child{
  border-top-width: 0;
  border-left-width: 0;
}

@media screen and (min-width: 62em) {
  .table{
    max-width: 1000px;
  }
}